/* General Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    --progressWidth: 0px;
    --liquidLevel: 0%;
    --levelText: '0%';

    --coolWaterColor: #36a1cb;
    --normalWaterColor: #287897;
    --warningWaterColor: #21647e;
    --alertWaterColor: #133b4b;

    --waterColor: var(--alertWaterColor);
}

body {
    color: #ccc3a8;
    width: 100vw;
    height: 100vh;
    background-color: #242424;
}

#content {
    display: grid;
    place-items: center;
    height: 100vh;
    gap: 1rem;
}

/* Title and Meter Styles */
#title {
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#liquidLevelMeter {
    width: clamp(300px, 15vw, 600px);
    display: flex;
    align-items: center;
    gap: 1rem;
}

#liquidLevelBar {
    flex: 1;
    background: #ccc3a8;
    height: 10px;
    position: relative;
    border-radius: .315rem;
}

#liquidLevelBar::before {
    content: "";
    position: absolute;
    width: var(--progressWidth);
    height: inherit;
    border-radius: inherit;
    background-color: #2b80af;
}

#liquidMeterHandler {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -10px;
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellowgreen;
    cursor: grab;
}

/* Tank Styles */

#liquidTank {
    position: relative;
}

#tankLevel {
    font-size: 1.5rem;
    position: absolute;
    transform: translate(50%, -100%);
    right: -3.3rem;
}

#tank {
    border: 3px solid #ccc3a8;
    width: clamp(100px, 20vw, 400px);
    height: clamp(300px, 50vh, 600px);
    border-radius: .315rem;
    position: relative;
}

#liquidLevel {
    background-color: var(--waterColor);
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: var(--liquidLevel);
    width: inherit;
    transition: height .8s ease-in-out, background-color .8s ease-in-out;
}

.threshold {
    height: 0px;
    width: 100%;
    border: 1px dashed #ccc3a8;
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
}

.threshold:nth-of-type(1) {
    --levelText: '25%';
    bottom: 25%;
}

.threshold:nth-of-type(2) {
    --levelText: '50%';
    bottom: 50%;
}

.threshold:nth-of-type(3) {
    --levelText: '75%';
    bottom: 75%;
}

.threshold::before {
    content: var(--levelText);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-150%, 50%);
}

/* Footer */

#creators {
    position: absolute;
    right: 10px;
    bottom: 10px;
    /* letter-spacing: 1px; */
}

#creators a {
    text-decoration: none;
    color: var(--coolWaterColor);
}
