/* General Styles */
* {
    margin: 0;
    padding: 0;
    color: #ccc3a8;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #242424;
}

#content {
    display: grid;
    place-items: center;
    height: 100vh;
    gap: 1rem;
}

/* Title and Meter Styles */
#title {
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#liquidLevelMeter {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#liquidLevelBar {
    flex: 1;
    background: #ccc3a8;
    height: 10px;
    position: relative;
    border-radius: .315rem;
    --progressWidth: 0px;
}

#liquidLevelBar::before {
    content: "";
    position: absolute;
    width: var(--progressWidth);
    height: inherit;
    border-radius: inherit;
    background-color: #2b80af;
}

#liquidMeterHandler {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -10px;
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellowgreen;
    cursor: grab;
}

/* Tank Styles */

#liquidTank {
    position: relative;
}

#tankLevel {
    font-size: 1.5rem;
    position: absolute;
    transform: translate(50%, -100%);
    right: -4rem;
}

#tank {
    border: 3px solid #ccc3a8;
    width: clamp(100px, 20vw, 400px);
    height: clamp(300px, 50vh, 600px);
    border-radius: .315rem;
    position: relative;
    --liquidLevel: 0%;
}

#liquidLevel {
    background: #36a1cb;
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: var(--liquidLevel);
    width: inherit;
    transition: height .8s ease-in-out;
}

.threshold {
    height: 0px;
    width: 100%;
    border: 1px dashed #ccc3a8;
    position: absolute;
    bottom: 0px;
    transform: translateY(-100%);
}

.threshold:nth-of-type(1) {
    bottom: 25%;
}

.threshold:nth-of-type(2) {
    bottom: 50%;
}

.threshold:nth-of-type(3) {
    bottom: 75%;
}

/* Footer */

#creators {
    position: absolute;
    right: clamp(20px, 2rem, 40px);
    bottom: clamp(10px, 0.5rem, 30px);
    letter-spacing: 1px;
}
